@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BuildStuffFeedback.ViewModels.AdminSessionsViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <ul>
    @foreach (var item in Model)
    {
       <li><a href="~/admin/session/@item.SessionId">@item.Title</a> by @item.Speaker</li> 
    }
    </ul>
</body>
</html>
