@using System.Collections.Generic
@using Nancy.Responses.Negotiation
@using Nancy.ViewEngines.Razor
@using BuildStuffFeedback.Models
@inherits NancyRazorViewBase<Session>
@{
    Layout = "Shared/_Layout.cshtml";
}

<script>
    

</script>
<!DOCTYPE HTML>

        <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
            <head>
                <meta charset="utf-8" />
                <title></title>
                
                <style>
                    body {
                        font-family: sans-serif;
                        font-weight: normal;
                        margin: 10px;
                        color: #999;
                        background-color: #eee;
                    }


                    .feedback-form {
                        width: 100%;
                        padding: 10%;
                    }

                    .feedback-form label {
                        box-sizing: border-box;
                        width: 29%;
                        height: 100px;
                        padding-left: 20px;
                        position: relative;
                        display: inline-block;
                        overflow: hidden;
                        background-color: #fff;
                    }

                    .feedback-form label.red {
                        background-color: #f00;
                    }
                    .feedback-form label.green {
                        background-color: green;
                    }
                    .feedback-form label.yellow {
                        background-color: yellow;
                    }


                    .feedback-form input[type="radio"] {
                        float: left;
                        margin-top: -30px;
                        background-color: #fff;
                    }

                    .feedback-form input[type="radio"]:before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0;
                        width: 28px;
                        height: 28px;
                    }

                    .feedback-form input[type="radio"]:checked:before {
                        content: "\2714";
                        font-size: 24px;
                        padding: 2px;
                    }


                   

                </style>
            </head>

        <section id="hero" style="background-image: url('http://buildstuff.lt/wp-content/uploads/2014/04/Fonas224.jpg');">
            <div class="container">
                <h1>Build Stuff 2014</h1>
                <p>Software Development conference</p>
                <p>Add Feedback for @Model.Title</p>
                
                <form action="/sessions/AddFeedback" method="post" class="feedback-form">
                    <input name="SessionId" type="text" value="@Model.Id" hidden="true" />
                    
                    <label class="red">
                        <input type="radio" name="Rating" id="radio1" class="radio" value="1" />
                    </label>
                    <label class="yellow">
                        <input type="radio" name="Rating" id="radio2" value="2" class="radio" />
                    </label>
                    <label class="green">
                        <input type="radio" name="Rating" id="radio3" value="3" class="radio" checked />
                    </label>
     
                    <textarea rows="4" cols="50" name="Comments" placeholder="Any Further Comments"></textarea>
                    <br/>
                    <div id="schedule-sessions">
                        <input id="submit-button" class="btn btn-more main-bkg-color" type="submit" title="Submit" />
                    </div>
                </form>
                

            </div>
        </section>
            
    </html>
